@font-face {
  font-family: "SoyoB";
  src: url("./static/fonts/SOYO-Maple-Bold_1.woff") format("woff");
}
@font-face {
  font-family: "SoyoR";
  src: url("./static/fonts/SOYO-Maple-Regular_1.woff") format("woff");
}
